.body {
  background-color: #add8e6;
}

.container {
  display: flex;
  justify-content: center;
}

:root {
  background-color: #add8e6;
}

.jumbotron {
  padding: 10px 30px;
  text-align: center;
  background-image: url("https://www.freewebheaders.com/wp-content/gallery/healthcare_1/thumbs/thumbs_medical-doctor-stethoscope-and-office-sign-web-header.jpg");
}

.jumbotron h1 {
  color: #5684D5;
  font-weight: 600;
}

.sub-title {
  color: black;
}
